*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./image/MDW\ présentation.png);
    background-size: cover;
    background-position:center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
}

.logo{
    color:rgb(0, 222, 247);
    font-size: 25px;
    margin-left:109px;
}

span{
    color:black;
}
nav ul li{
    list-style-type:none;
    display: inline-block;
    padding:10px 50px;
    margin-top: 10px;
    font-size:large;
}

nav ul li a{
    color:rgb(0, 0, 0) ;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(0, 222, 247);
    transition: .3s;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
        padding: 30px;
    }

    nav ul {
        padding: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
        padding: 10px 0;
    }

    .logo {
        font-size: 30px;
    }
}